@import './src/assets/css/animation'

.photo-stream
  display: flex
  flex-wrap: wrap
  position: relative
  top: 100px
  background-color: transparent
  height: 100%
  &--favorite-icon
    position: absolute
    top: 0
    right: 0
    margin: 1rem
    font-size: 21px
    background-blend-mode: soft-light
    animation: 300ms linear forwards

.loading-spinner
  $width: 200px
  width: 100%
  max-width: 200px
  left: calc(50% - $width / 2)
  position: relative
  margin: 100px 0
  img
    width: 100%
    vertical-align: middle

  &.show
    opacity: 1
  &.hide
    opacity: 9