<div class="infinite-photo-stream">
  <div class="infinite-photo-stream--photo-gallery">
    <div (click)="photoService.toggleFavoritePhoto(photo)" *ngFor="let photo of photoService.photos" class="infinite-photo-stream--photo">
      <p *ngIf="photo.isFavorite" class="infinite-photo-stream--favorite-icon">♥️</p>
      <img [src]="photo.download_url" alt="No Image.">
    </div>
  </div>
</div>
<div #loadingSpinner class="infinite-photo-stream--loading-spinner">
  <img src="../../../assets/loading-spinner.gif" alt="loading-spinner">
</div>

