@import './src/assets/css/animation'

.infinite-photo-stream
  &--photo-gallery
    display: flex
    flex-wrap: wrap
    margin-top: 100px
    background-color: transparent
    height: 100%
  &--photo
    $margin: 2.5px
    position: relative
    cursor: pointer
    overflow: hidden !important
    transition: opacity 200ms ease-out
    margin: $margin
    border-radius: 0
    max-width: calc(100vw / 3 - $margin * 2)
    img
      width: 100%
      vertical-align: middle
    &:hover
      opacity: 1 !important
  &:hover > *
      opacity: .9

  &--favorite-icon
    position: absolute
    top: 0
    right: 0
    margin: 1rem
    font-size: 21px
    background-blend-mode: soft-light
    animation: 300ms linear forwards

  @keyframes show-favorite-icon
    0%
      opacity: 0 important
    100%
      opacity: 1 important

  @keyframes hide-favorite-icon
    0%
      opacity: 1 important
    100%
      opacity: 0 important

  &--loading-spinner
    $width: 200px
    width: 100%
    max-width: 200px
    left: calc(50% - $width / 2)
    position: relative
    margin: 100px 0
    img
      width: 100%
      vertical-align: middle

    &.show
      opacity: 1
    &.hide
      opacity: 9