@import './src/assets/css/color-palette'
@import './src/assets/css/dimensions'
@import './src/assets/css/animation'

nav
  display: flex
  position: fixed
  width: 100vw
  top: 0
  justify-content: center
  align-items: center
  padding: 0
  z-index: 100000
  // background: linear-gradient(-45deg, $purple80s1, $purple80s2, $frost1, $frost2)
  backdrop-filter: blur(6px)
  *
    text-decoration: none
    text-transform: uppercase
  div
    li.top-navigation--link
      padding: 1rem
      list-style: none
      margin: 1rem
      // background: linear-gradient(-45deg, $purple80s1, $purple80s2, $frost1, $frost2)
      cursor: pointer
      border: 2px solid transparent
      border-radius: 5px
      a
        font-weight: 800
        color: black
      &.active
        background: linear-gradient(-45deg, $purple80s1, $purple80s2, $frost1, $frost2)
        a
          color: white
      &:hover
        letter-spacing: 1px
