@import './src/assets/css/animation'
.favorite-photo-stream
  justify-conten: center
  align-items: center
  width: 100vw
  margin-top: 100px
  background-color: transparent
  &:hover > *
    opacity: 1