.infinite-photo-stream
  justify-conten: center
  align-items: center
  width: 100vw
  margin-top: 100px
  background-color: transparent

  &--photo
    width: calc(100vw / 3)
    float: left
    max-height: 200px
    cursor: pointer
    overflow: hidden !important
    transition: opacity 200ms ease-out
    img
      width: 100%
      vertical-align: middle
    &:hover
      opacity: 1 !important
  &:hover > *
      opacity: .9


.spinner
  position: relative
  top: 100px
  left: 0
  width: 100vw
  height: calc(100vh - 100px)
  z-index: 1000
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0, 0, 0, .88)
.show
  visibility: visible
.hide
  visibility: hidden